<div class="prose mx-auto text-center">
	{{ page.content|raw }}
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-6">
	{% for event in page.collection %}
		{% include 'partials/event-elapsed.html.twig' %}
	{% else %}
		{% include 'partials/empty.html.twig' with {msg: 'Keine vergangene Anlässe.'} %}
	{% endfor %}
</div>
