<div class="prose mx-auto {{ page.header.centered ? 'text-center' : '' }}">
	{{ page.content|raw }}
</div>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 items-start justify-items-stretch gap-8 mt-6">
	{% for event in page.collection %}
		{% include 'partials/event-upcoming.html.twig' %}
	{% else %}
		{% include 'partials/empty.html.twig' with {msg: 'Keine anstehende Anlässe.'} %}
	{% endfor %}
</div>
