<div class="card bordered indicator shadow-sm w-full overflow-visible mt-5">
  <div class="indicator-item indicator-center mask mask-squircle bg-base-300 text-neutral-content w-10 h-10 flex justify-center items-center">
    {{ svg('theme://svg/icon/'~icon~'.svg', 'icon w-6')|raw }}
  </div>
  <div class="card-body text-center">
    <h2 class="card-title">{{ title }}</h2> 
    {% block content %}{% endblock %}
  </div>
</div>