<div class="card bordered indicator shadow-sm w-full overflow-visible mt-6">
  <div class="indicator-item indicator-center mask mask-squircle bg-neutral text-neutral-content w-12 h-12 flex justify-center items-center">
    {{ svg('theme://svg/icon/'~icon~'.svg', 'icon w-8')|raw }}
  </div>
  <div class="card-body text-center">
    <h2 class="card-title">{{ title }}</h2> 
    {% block content %}{% endblock %}
  </div>
</div>