/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

svg.icon {
  @apply stroke-current;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
  stroke-width: 1.5;
}

.scrolled {
  min-height: 3rem;
  @apply fixed bg-primary bg-hero-texture shadow-sm;
}

.scrolled .btn {
  @apply btn-xs;
  line-height: 1.4rem;
}

.scrolled .btn svg {
  @apply w-4;
}

.scrolled .navbar-end label svg {
  @apply w-8;
}

.scrolled .navbar-start svg {
  @apply w-6 h-6;
}

.form-field {
  @apply form-control items-center
}
.form-label {
  @apply label
}
.form-label > label {
  @apply label-text
}
input {
  @apply input input-bordered
}
select {
  @apply select select-bordered
}
textarea {
  @apply textarea textarea-bordered
}
form .buttons {
  @apply flex justify-center space-x-3 mt-3
}
form .buttons button[type='submit'] {
  @apply btn btn-sm btn-primary
}
form .buttons button[type='reset'] {
  @apply btn btn-sm btn-outline
}