/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#scroll {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

#scrollspy-sections a.active {
  @apply font-bold text-primary
}

svg.icon {
  @apply stroke-current;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
  stroke-width: 1.5;
}

.scrolled {
  @apply fixed bg-primary bg-hero-texture shadow-sm;
}

.scrolled .btn {
  @apply btn-xs;
  line-height: 1.4rem;
}

.scrolled .btn svg {
  @apply w-4;
}

.scrolled .navbar {
  min-height: 3rem;
}

.scrolled .navbar-end label svg {
  @apply w-8;
}

.scrolled .navbar-start svg {
  @apply w-6 h-6;
}

.prose ul li {
  margin: 0;
}

.form-field {
  @apply form-control items-center
}
.form-data {
  @apply w-full max-w-lg
}
.form-label {
  @apply label
}
.form-label > label {
  @apply label-text
}
input {
  @apply input bg-base-200 w-full
}
select {
  @apply select bg-base-200 w-full
}
textarea {
  @apply textarea bg-base-200 w-full
}
form .buttons {
  @apply flex justify-center space-x-3 mt-3
}
form .buttons button[type='submit'] {
  @apply btn btn-sm btn-primary
}
form .buttons button[type='reset'] {
  @apply btn btn-sm btn-outline
}