{% set upcoming = upcoming|default([]) %}

{% if upcoming|length %}
	<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 items-start">
		{% for startdate,events in upcoming %}
			{% include 'partials/events-upcoming-date.html.twig' %}
		{% endfor %}
	</div>
{% else %}
	{% include 'partials/empty.html.twig' with {msg: 'Keine anstehende Anlässe.'} %}
{% endif %}
