{% if config.plugins.taxonomylist.enabled %}

	{% embed 'embeds/card-drawer.html.twig' %}
		{% set title = 'Kategorien' %}
		{% block content %}
			{% include 'partials/taxonomylist.html.twig' with {base_url: page.url, taxonomy:'category', icon: 'folder'} %}
		{% endblock %}
	{% endembed %}

	{% embed 'embeds/card-drawer.html.twig' %}
		{% set title = 'Gruppen' %}
		{% block content %}
			{% include 'partials/taxonomylist.html.twig' with {base_url: page.url, taxonomy:'group', icon: 'circle-dotted'} %}
		{% endblock %}
	{% endembed %}

	{% embed 'embeds/card-drawer.html.twig' %}
		{% set title = 'Tags' %}
		{% block content %}
			{% include 'partials/taxonomylist.html.twig' with {base_url: page.url, taxonomy: 'tag', icon: 'bookmark'} %}
		{% endblock %}
	{% endembed %}

{% endif %}

{% if config.plugins.feed.enabled %}
	{% embed 'embeds/card-drawer.html.twig' %}
		{% set title = 'Abonnieren' %}
		{% block content %}
			<a class="link link-hover" href="{{ feed_url }}.atom">Atom 1.0</a>
			<a class="link link-hover" href="{{ feed_url }}.rss">RSS</a>
			{% if config.plugins.feed.enable_json_feed %}
				<a class="link link-hover" href="{{ feed_url }}.json">JSON</a>
			{% endif %}
		{% endblock %}
	{% endembed %}
{% endif %}
