<div class="space-y-8 sticky top-16">

	{% if params|length > 0 %}
		<a class="btn btn-xs" href="{{ uri.url(false) }}#body">Filter zurücksetzen</a>
	{% endif %}

	{% include 'partials/chronicle/search.html.twig' %}

	{% if config.plugins.taxonomylist.enabled %}

		{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

		{% if taxlist %}
			{% set params = params|filter((v, k) => k != 'page') %}
			<dl>
				<dt>Kategorien</dt>
				<dd class="space-x-1 space-y-1">
					{% include 'partials/chronicle/taxonomy.html.twig' with {list: taxlist.category|keys, name:'category'} %}
				</dd>
				<dt>Gruppen</dt>
				<dd class="space-x-1 space-y-1">
					{% include 'partials/chronicle/taxonomy.html.twig' with {list: taxlist.group|keys, name:'group'} %}
				</dd>
				<dt>Schlagwörter</dt>
				<dd class="space-x-1 space-y-1">
					{% include 'partials/chronicle/taxonomy.html.twig' with {list: taxlist.tag|keys, name:'tag'} %}
				</dd>
				{% if config.plugins.feed.enabled %}
					<dt>Abonnieren</dt>
					<dd class="space-y-1 space-x-1">
						<a class="btn btn-xs" href="{{ feed_url }}.atom">Atom 1.0</a>
						<a class="btn btn-xs" href="{{ feed_url }}.rss">RSS</a>
						{% if config.plugins.feed.enable_json_feed %}
							<a class="link" href="{{ feed_url }}.json">JSON</a>
						{% endif %}
					{% endif %}
				</dd>
			</dl>
		{% endif %}
	{% endif %}
</div>
