{% extends 'partials/base.html.twig' %}

{% do assets.addCss('https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css') %}
{% do assets.addJs('https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js') %}
{% do assets.addJS('https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js') %}
{% do assets.addJs('theme://js/calendar.js', {group: 'bottom'}) %}

{% set menu %}
		{% include 'partials/menu-aside.html.twig' with {title: 'Seiten', items: pages.children.ofOneOfTheseTypes(['page','calendar'])} %}
{% endset %}

{% block content %}
	<div class="container mx-auto flex">
		<div class="flex-1">
      <article class="prose lg:prose-xl mx-auto">{{ page.content|raw }}</article>
      <div id="calendar" class="mt-8"></div>
    </div>
		<aside class="hidden lg:block ml-12">
			{{ menu }}
		</aside>
	</div>
{% endblock %}

{% block drawer %}
	{{ menu }}
{% endblock %}