{% extends 'partials/base.html.twig' %}

{% set searching = search_results is defined %}
{% set collection = search_results ?: page.collection %}

{% block content %}
{{ searching ? 'searching' : 'not searching' }}
	<div class="mx-auto prose prose-xl {{ page.header.centered ? 'text-center' : '' }}">
		{{ page.content|raw }}
	</div>

	<div class="container-xl mx-auto flex mt-16">
		<div class="flex-1 flex flex-col space-y-8">
			{% include 'partials/chronicle/search.html.twig' %}
			{% include 'partials/chronicle/timeline.html.twig' %}
		</div>
		<aside class="hidden lg:block w-64 ml-8">
			{% include 'partials/chronicle/sidebar.html.twig' %}
		</aside>
	</div>
{% endblock %}

{% block drawer %}
	{% include 'partials/chronicle/drawer.html.twig' %}
{% endblock %}
