{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="h-screen flex items-center justify-center">
        <div class="prose text-center">
            <h1 class="">Error</h1>
            {{ page.content|raw }}
        </div>
    </div>
{% endblock %}
