{% extends 'partials/base.html.twig' %}

{% block hero %}
	<article class="mx-auto text-center pt-16 pb-24 max-w-5xl">
		<div class="text-2xl md:text-3xl uppercase font-extrabold tracking-wide text-base-200">{{ page.header.title }}</div>
		<h1 class="text-6xl md:text-7xl font-black my-2 text-neutral-content">{{ page.header.subtitle }}</h1>
		<div class="text-2xl md:text-3xl text-bold text-base-100">{{ page.header.age }}</div>
	</article>
{% endblock %}

{% set sections = [
  {
    title: page.title,
    content: include('partials/article.html.twig', { content: page.content }),
    slug: 'ueber',
    header: {
      subtitle: page.header.slogan,
      icon: 'circle-dotted.svg',
    }
  },
  {
    title: 'Semester',
    slug: 'semester',
    content: include('partials/semester.html.twig', {group: page.title }),
    header: {
      subtitle: 'Nachmittage',
      icon: 'trees.svg'
    }
  },
  {
    title: 'Galerie',
    slug: 'galerie',
    content: include('partials/gallery.html.twig', { 
			images: page.media.images ?? []
		}),
    header: {
      subtitle: 'Impressionen',
      icon: 'photo.svg'
    }
  },
  {
    title: 'Ausblick',
    slug: 'ausblick',
    content: include('partials/events-upcoming.html.twig', {
			items: {
				'@taxonomy.group': page.title
			}, 
			field: 'header.dtstart'
		}),
		header: {
			icon: 'calendar.svg',
			subtitle: 'Lager und Spezial'
		}
	},
	{
		title: 'Rückblick',
		slug: 'rueckblick',
		content: include('partials/events-elapsed.html.twig', {
			content: {
				items: {
					'taxonomy@': {
						group: page.title
					}
				},
				order: {
					by: 'header.dtstart',
					dir: 'desc'
				},
				dateRange: {
					end: 'now',
					field: 'header.dtend'
				},
				filter: {
					published: true,
					type: 'event'
				}
			}
		}),
    header: {
      icon: 'history.svg',
      subtitle: 'Bisherige Erlebnisse'
    }
  },
] %}

{% block theme %}
	{{ page.title|lower }}
{% endblock %}

{% use 'blocks/sections.html.twig' %}
