{% extends 'partials/base.html.twig' %}

{% set menu %}
{% embed 'embeds/card-drawer.html.twig' %}
	{% set title = 'Seiten' %}
	{% block content %}
		{% include 'partials/menu-aside.html.twig' with { pages: pages.children.ofType('page') } %}
	{% endblock %}
{% endembed %}
{% endset %}

{% block content %}
	<div class="flex justify-center">
		<article class="prose mr-8">
			{{ page.content|raw }}
		</article>
		<aside>
			{{ menu }}
		</aside>
	</div>
{% endblock %}

{% block drawer %}
	{{ menu }}
{% endblock %}
