{% extends 'partials/base.html.twig' %}

{% set menu %}
		{% include 'partials/menu-aside.html.twig' with {title: 'Seiten', items: pages.children.ofType('page')} %}
{% endset %}

{% block content %}
	<div class="flex justify-center">
		<article class="prose mr-8">
			{{ page.content|raw }}
		</article>
		<aside>
			{{ menu }}
		</aside>
	</div>
{% endblock %}

{% block drawer %}
	{{ menu }}
{% endblock %}
